<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Trabalhando com Escopo de Aplicação e Sessão</title>
	</h:head>
	<h:body>
	<h2>Cadastro de produtos</h2>

	<h:form>
		<h:commandButton value="#{cadastroProdutos.valorBotao}" action="#{cadastroProdutos.apertarBotao}" >
			<f:actionListener binding="#{registrarAcaoListener}" />
		</h:commandButton>

		<br />
		Nome: <h:inputText value="#{cadastroProdutos.produto.nome}" />

		<br/>
		Fabricante: <h:inputText value="#{cadastroProdutos.produto.fabricante}" />

		<br/>
		Modelo: <h:inputText value="#{cadastroProdutos.produto.modelo}" />

		<h:commandButton value="Cadastrar" action="#{cadastroProdutos.incluir}"
						actionListener="#{cadastroProdutos.validarInclusao}" >
			<f:actionListener type="nom.brunokarpo.cursoJSF2.RegistrarAcaoListener" />
		</h:commandButton>
	</h:form>

	<h:form>
		<ol>
			<ui:repeat var="item" value="#{cadastroProdutos.produtos}">
				<li>
					#{item.nome} - #{item.fabricante} - #{item.modelo}

					<h:commandButton value="Excluir" action="#{cadastroProdutos.excluir}" >
						<f:actionListener binding="#{RegistrarAcaoListener}" />
						<f:setPropertyActionListener value="#{item}" target="#{cadastroProdutos.produtoSelecionado}" />
					</h:commandButton>
				</li>
			</ui:repeat>
		</ol>
	</h:form>

	<h:form>
		Pesquisar:
		<h:inputText value="#{cadastroProdutos.nomePesquisa}"
					valueChangeListener="#{cadastroProdutos.nomePesquisaAlterado}"
					onchange="submit()"/>
	</h:form>

	<h:form>
		<ol>
			<ui:repeat var="item" value="#{cadastroProdutos.produtosSelecionados}">
				<li>
					#{item.nome} - #{item.fabricante} - #{item.modelo}

					<h:commandButton value="Excluir" action="#{cadastroProdutos.excluir}" >
						<f:actionListener binding="#{RegistrarAcaoListener}" />
						<f:setPropertyActionListener value="#{item}" target="#{cadastroProdutos.produtoSelecionado}" />
					</h:commandButton>
				</li>
			</ui:repeat>
		</ol>
	</h:form>

	</h:body>
</html>