<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Olá Mundo</title>
	</h:head>
	<h:body>

		<h:form>
		<h:commandButton value="Volte para o cadastro de produtos." action="CadastroProdutos?faces-redirect=true"/>
		<br/><br/>

		Digite seu nome aqui:
		<h:inputText value="#{olaMundoBean.nome}"/>

		<h:commandButton value="Enviar" action="#{olaMundoBean.enviar}"/>

		<br/>
		Nome digitado: #{olaMundoBean.nome}

		</h:form>
	</h:body>
</html>