<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Aprendendo Backing Bean</title>
	</h:head>
	<h:body>
		<h:form>
			Digite seu nome: <h:inputText binding="#{teste.campo}" />

			<h:commandButton value="Clique aqui"
					binding="#{teste.botao}"
					action="#{teste.clicar}"/>
		</h:form>
	</h:body>
</html>