<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<composite:interface>
		<composite:attribute name="value" required="true"/>
		<composite:attribute name="locale" default="pt_BR" />
		<composite:attribute name="currencySymbol" default="R$" />
		<composite:attribute name="styleClass" />
	</composite:interface>

	<composite:implementation>
		<h:outputText value="#{cc.attrs.value}" styleClass="#{cc.attrs.styleClass}">
			<f:convertNumber locale="#{cc.attrs.locale}" currencySymbol="#{cc.attrs.currencySymbol}"
					type="currency"/>
		</h:outputText>
	</composite:implementation>
</html>