<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cadastro Pessoa</title>

		<script>
			function validar() {
				campoNome = document.getElementById('frm:nome');

				if(campoNome.value == '') {
					alert('Informe um nome para a pessoa');
					return false;
				}
				return true;
			}
		</script>
	</head>
	<body>

		<h1>Cadastro de pessoas</h1>
		<h:form id="frm">
			<h:panelGrid columns="4" id="grid1" border="2">

				<h:outputText value="Nome: "/>
				<h:inputText size="40" maxlength="30"
					title="Nome da pessoa" id="nome" />

				<h:outputText value="Idade: "  />
				<h:inputText size="5" maxlength="2" title="Idade da pessoa no momento do cadastro" />

				<h:outputText value="Cidade natal: "  />
				<h:inputText size="40" maxlength="50" title="Cidade onde a pessoa nasceu" />

				<h:outputText value="Sexo: "  />
				<h:panelGroup>
					<h:selectOneRadio>
						<f:selectItem itemLabel="Masculino" />
						<f:selectItem itemLabel="Feminino" />
					</h:selectOneRadio>
				</h:panelGroup>

				<h:outputText value="Filhos? "  />
				<h:panelGroup>
					<h:selectOneRadio layout="lineDirection">
						<f:selectItem itemLabel="Sim" />
						<f:selectItem itemLabel="Não" />
					</h:selectOneRadio>
				</h:panelGroup>

				<h:outputText value="Casado? "  />
				<h:panelGroup>
					<h:selectOneRadio layout="lineDirection">
						<f:selectItem itemLabel="Sim" />
						<f:selectItem itemLabel="Não" />
					</h:selectOneRadio>
				</h:panelGroup>

				<h:outputText value="Escolaridade: " />
				<h:panelGroup>
					<h:selectOneRadio layout="lineDirection">
						<f:selectItem itemLabel="Analfabeto" />
						<f:selectItem itemLabel="Ensino Fundamental" />
						<f:selectItem itemLabel="Ensino médio" />
						<f:selectItem itemLabel="Ensino Superior" />
					</h:selectOneRadio>
				</h:panelGroup>

				<h:outputText value="Posses: " />
				<h:panelGroup>
					<h:selectManyCheckbox >
						<f:selectItem itemLabel="Carro" />
						<f:selectItem itemLabel="Casa"/>
						<f:selectItem itemLabel="Apartamento"/>
					</h:selectManyCheckbox>
				</h:panelGroup>

				<h:outputText value="Senha" />
				<h:inputSecret />

				<h:outputText value="Repita a senha" />
				<h:inputSecret />

				<h:outputText />
				<h:commandButton value="Cadastrar" onclick="return validar()"/>

			</h:panelGrid>

			</h:form>

	</body>
</html>