<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cadastro Funcionario</title>
	</h:head>
	<h:body>

		<h:form id="frm">
			Sexo:
			<h:selectOneRadio value="#{cadastroFuncionarioBean.sexo}" layout="lineDirection">
				<f:selectItem itemValue="M" itemLabel="Masculino" />
				<f:selectItem itemValue="F" itemLabel="Feminino" />
			</h:selectOneRadio>
			<br/>

			<h:selectBooleanCheckbox value="#{cadastroFuncionarioBean.cadastrado}"/>
			Deseja receber nossa newsletter por email?
			<br/><br/>
			Linguagens Favoritas
			<h:selectManyCheckbox value="#{cadastroFuncionarioBean.linguagens}">
				<f:selectItem itemValue="Java" />
				<f:selectItem itemValue="Python" />
				<f:selectItem itemValue="C" />
				<f:selectItem itemValue="C#" />
				<f:selectItem itemValue="C++" />
				<f:selectItem itemValue="HTML" />
			</h:selectManyCheckbox>

			<br/><br/>
			<h:commandButton value="Confirmar" action="#{cadastroFuncionarioBean.enviar}"/>
		</h:form>
	</h:body>
</html>