<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cadastro Curriculum</title>
	</h:head>
	<h:body>

		<h:graphicImage value="/imagens/oobj.jpg"/>
		<br/>

		<h:outputText value="Cadastro curriculum para vaga #{cadastroCurriculumBean.vaga}"
			style="font-weight: bold; font-size: 22px" />
		<br />

		<h:outputFormat value="Vaga: {0} - Cargo: {1} " style="color: red">
			<f:param value="#{cadastroCurriculumBean.vaga}" />
			<f:param value="#{cadastroCurriculumBean.cargo}" />
		</h:outputFormat>
		<br/><br/>

		<h:form id="curriculumForm">
			<h:outputLabel value="E-mail" for="curriculumForm:email"/><br/>
			<h:inputText size="60" id="email"/>
			<br/><br/>

			<h:outputLabel value="Senha" for="curriculumForm:senha"/><br/>
			<h:inputSecret size="40" id="senha"/>
			<br/><br/>

			<h:outputLabel value="Qualificações" for="curriculumForm:qualificacoes"/><br/>
			<h:inputTextarea cols="60" rows="5" id="qualificacoes"/>
			<br/><br/>

			<h:commandButton value="Cadastrar" />
		</h:form>
	</h:body>
</html>