<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Formulario com Painel</title>
	</h:head>
	<h:body>

		<h:form id="frm">

			<h:messages layout="table" errorStyle="color: red" infoStyle="color: green"
						warnStyle="color: orange" fatalStyle="color: red; font-family: Arial"
						showDetail="true" showSummary="false" globalOnly="true"/>

			<h:panelGrid columns="2">
				<f:facet name="header">Cadastro com formulário</f:facet>

				<h:outputLabel value="Nome completo: " for="nome"/>
				<h:panelGroup>
					<h:inputText id="nome" value="#{cadastroUsuarioBean.nome}" size="50"/>
					<h:message for="nome" />
				</h:panelGroup>

				<h:outputLabel value="E-mail: " for="email"/>
				<h:inputText id="email" value="#{cadastroUsuarioBean.email}" size="50"/>

				<h:outputLabel value="Senha: " for="senha"/>
				<h:inputSecret id="senha" value="#{cadastroUsuarioBean.senha}" size="20"/>

				<h:outputLabel />
				<h:panelGroup>
					<h:commandButton value="Cadastrar" action="#{cadastroUsuarioBean.cadastrar}"/>
					<h:commandButton value="Limpar" type="reset"/>
				</h:panelGroup>

			</h:panelGrid>

		</h:form>

	</h:body>
</html>