<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Cadastro de produtos</title>
	</h:head>
	<h:body>

		<h:form id="frm">

			<h:commandLink value="Ajuda?" action="#{cadastroProdutosBean.obterAjuda}"/>

			<h:panelGrid columns="2">

				<h:outputLabel value="Nome"/>
				<h:inputText value="#{cadastroProdutosBean.produto.nome}"/>

				<h:outputLabel value="Fabricante"/>
				<h:inputText value="#{cadastroProdutosBean.produto.fabricante}"/>

				<h:outputLabel value="Quantidade"/>
				<h:inputText value="#{cadastroProdutosBean.produto.quantidade}"/>

				<h:outputLabel />
				<h:commandButton value="Cadastrar" action="#{cadastroProdutosBean.salvar}"/>
			</h:panelGrid>
		</h:form>

		<br/>
		<br/>

		<h:dataTable value="#{cadastroProdutosBean.produtos}" var="produto" rendered="#{not empty cadastroProdutosBean.produtos}">
			<h:column>
				<f:facet name="header">Nome</f:facet>
				<h:outputText value="#{produto.nome}"/>
			</h:column>

			<h:column>
				<f:facet name="header">Fabricante</f:facet>
				<h:outputText value="#{produto.fabricante}"/>
			</h:column>

			<h:column>
				<f:facet name="header">Quantidade</f:facet>
				<h:outputText value="#{produto.quantidade}"/>
			</h:column>
		</h:dataTable>
	</h:body>
</html>