<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Insert title here</title>
	</h:head>
	<h:body>

		Sexo: #{cadastroFuncionarioBean.sexo}
		<br/>
		Deseja receber newslatter: #{cadastroFuncionarioBean.cadastrado ? 'Sim' : 'Não'}
		<br/><br/>
		<div>
			Linguagens favoritas:
			<ul>
				<ui:repeat var="linguagem" value="#{cadastroFuncionarioBean.linguagens}">
					<li>#{linguagem}</li>
				</ui:repeat>
			</ul>
		</div>

	</h:body>
</html>