<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Formulario</title>
	</h:head>
	<h:body>
		<h:form id="frm">
			<h:outputText value="Nome: "/>
			<h:inputText value="#{formularioBean.nome}" title="Insira seu nome aqui" />

			<br/>
			<!-- <h:commandButton value="Enviar" action="Resultado" />  -->
			<h:commandLink value="Enviar" action="Resultado" />
			<h:commandButton value="Limpar" type="reset" />

			<br/><br/><br/>

			<h:outputLink value="http://www.google.com.br/">
				Google
				<f:param name="q" value="Bruno Nogueira" />
			</h:outputLink>
			<br/>
			<h:link value="Ir para a página Resultado" outcome="Resultado"></h:link>

		</h:form>

	</h:body>
</html>