<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Insert title here</title>
	</h:head>
	<h:body>

		<h:form id="frm">
			<h:outputFormat value="O nome digitado foi {0}">
				<f:param value="#{formularioBean.nome}" />
			</h:outputFormat>
			<br/>

			<h:commandButton image="/imagens/voltar.jpg" action="Formulario" actionListener="#{formularioBean.resetarFormulario}" />
			<h:commandLink action="Formulario" actionListener="#{formularioBean.resetarFormulario}">
				<h:graphicImage value="/imagens/voltar.jpg" />
			</h:commandLink>
		</h:form>
	</h:body>
</html>