<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Ajuda ao usuário</title>
	</h:head>
	<h:body>
		<h:form id="frm">
			<h1>Cadastrar um novo produto</h1>
			<p>Para cadastrar um novo produto, digite o nome, seu fabricante, a quantidade e ao final clique em Cadastrar</p>
			<br/>
			<h:commandLink value="Início" action="inicio"/>
		</h:form>
	</h:body>
</html>