<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Teste</title>

		<style>
		.campo {
			background-color: yellow;
			padding: 10px;
		}

		.campo:focus {
			background-color: #c0c0c0;
		}

		</style>

		<script>
		function validar() {
			campoEmail = document.getElementById('newsletterForm:email');
			if(campoEmail.value == '') {
				alert('Informe seu email!');
				return false;
			}
			return true;
		}

		</script>
	</h:head>
	<h:body>
		<h:form id="newsletterForm">
			<h:outputLabel value="Assine nossa Newsletter" rendered="true"/>
			<br />

			<h:inputText value="Seu email aqui" id="email"
				size="30" maxlength="40" title="Informe seu email aqui"
				onfocus="this.value = ''"
				style="font-size: 19px" styleClass="campo" />

			<h:commandButton value="Assinar" id="assinarBotao"
				onclick="return validar()" />

		</h:form>
	</h:body>
</html>