<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Time Favorito</title>
	</h:head>
	<h:body>

		<h:form id="frm">
			<h:selectOneListbox id="menu" value="#{timeFavoritoBean.time}">
				<f:selectItem itemValue="Corinthians" itemLabel="Timão"/>
				<f:selectItem itemValue="Flamengo" itemLabel="Mengão"/>
				<f:selectItem itemValue="Goiás" />
				<f:selectItem itemValue="Botafogo" />
				<f:selectItem itemValue="São Paulo" />
				<f:selectItem itemValue="Vasco" />
			</h:selectOneListbox>

			<h:commandButton value="Escolher" action="#{timeFavoritoBean.escolher}"/><br />
		</h:form>

		<div>
			<h:outputText value="#{timeFavoritoBean.time}" rendered="#{not empty timeFavoritoBean.time}"
				style="background-color: red; color: white; font-size: 22px; font-family: Arial"/>
		</div>

	</h:body>
</html>