<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:graphicImage value="/imagens/logo.png" styleClass="logo"/>
	<div class="menu">
		<h:link outcome="/pages/Home">#{i18n['home']}</h:link>
		<h:link outcome="/pages/ConsultaLancamentos">#{i18n['entrys']}</h:link>
	</div>

</ui:composition>