<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><ui:insert name="titulo">Financeiro</ui:insert></title>

		<h:outputStylesheet library="css" name="sistema.css"/>
	</h:head>
	<h:body>
		<div id="header">
			<ui:insert name="cabecalho">
				<ui:include src="/pages/template/Cabecalho.xhtml" />
			</ui:insert>
		</div>

		<div id="content">
			<ui:insert name="conteudo"/>
		</div>

		<div id="footer">
			<ui:insert name="rodape">
				<ui:include src="/pages/template/Rodape.xhtml" />
			</ui:insert>
		</div>
	</h:body>
</html>