<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	#{i18n['footer.msg']}
	<br/><h:outputLink outcome="www.algaworks.com.br">www.algaworks.com.br</h:outputLink>

</ui:composition>