<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Checagem Estoque</title>
	</h:head>
	<h:body>

		<h:form id="frm">
			<h:messages showDetail="true" showSummary="false" layout="table"/>
			<br/>

			<h:panelGrid columns="2">

				<h:outputLabel value="Código do Produto" for="id"/>
				<h:panelGroup>
					<h:inputText value="#{checagemEstoqueBean.item.id}" id="id" label="Código do Produto" required="true">
						<f:validateLongRange minimum="0" maximum="100"/>
					</h:inputText>
					<h:message for="id" showDetail="false" showSummary="true" />
				</h:panelGroup>

				<h:outputLabel value="Descrição" for="descricao"/>
				<h:panelGroup>
					<h:inputText value="#{checagemEstoqueBean.item.descricao}" id="descricao" label="Descrição" required="true"
						requiredMessage="O campo é obrigatório e não foi preenchido"
						validatorMessage="O campo tem menos caracteres do que o neessário que é 5">
						<f:validateLength minimum="5"/>
					</h:inputText>
					<h:message for="descricao" showDetail="false" showSummary="true" />
				</h:panelGroup>

				<h:outputLabel value="Quantidade" for="quantidade"/>
				<h:panelGroup>
					<h:inputText value="#{checagemEstoqueBean.item.quantidade}" id="quantidade" label="Quantidade" required="true">
						<f:validateLongRange minimum="0" maximum="999"/>
					</h:inputText>
					<h:message for="quantidade" showDetail="false" showSummary="true" />
				</h:panelGroup>

				<h:outputLabel value="Valor Unitário" for="valor"/>
				<h:panelGroup>
					<h:inputText value="#{checagemEstoqueBean.item.valorUnitario}" id="valor" label="Valor Unitário" required="true">
						<f:convertNumber locale="pt_BR" minFractionDigits="2"/>
						<f:validateDoubleRange minimum="0" maximum="1000"/>
					</h:inputText>
					<h:message for="valor" showDetail="false" showSummary="true" />
				</h:panelGroup>

				<h:outputLabel value="Data da checagem" for="data"/>
				<h:panelGroup>
					<h:inputText value="#{checagemEstoqueBean.item.dataChecagem}" id="data" label="Data da checagem"
							converter="nom.brunokarpo.SmartDataConverter" >
						<f:validator validatorId="nom.brunokarpo.DiaUtilValidator"/>
					</h:inputText>
					<h:message for="data" showDetail="false" showSummary="true" />
				</h:panelGroup>

				<h:outputLabel />
				<h:commandButton value="Incluir" action="#{checagemEstoqueBean.incluir}"/>
			</h:panelGrid>

		</h:form>

		<br/>
		<h:dataTable value="#{checagemEstoqueBean.estoque}" var="item"
			border="1">

			<h:column>
				<f:facet name="header">Código</f:facet>
				<h:outputText value="#{item.id}"/>
			</h:column>

			<h:column>
				<f:facet name="header">Descrição</f:facet>
				<h:outputText value="#{item.descricao}"/>
			</h:column>

			<h:column>
				<f:facet name="header">Quantidade</f:facet>
				<h:outputText value="#{item.quantidade}"/>
			</h:column>

			<h:column>
				<f:facet name="header">Valor Unitário</f:facet>
				<h:outputText value="#{item.valorUnitario}">
					<f:convertNumber type="currency" currencySymbol="R$" locale="pt_BR" />
				</h:outputText>
			</h:column>

			<h:column>
				<f:facet name="header">Data checagem</f:facet>
				<h:outputText value="#{item.dataChecagem}" converter="nom.brunokarpo.SmartDataConverter" />
			</h:column>
		</h:dataTable>

	</h:body>
</html>