<ui:composition template="/pages/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" >

	<ui:define name="titulo">#{cadastroLancamentoBean.novoLancamento ? i18n['new_entry'] : i18n['edit_entry']}</ui:define>

	<ui:define name="conteudo">
		<f:metadata>
			<f:viewParam name="codigo" value="#{cadastroLancamentoBean.lancamento}" />
		</f:metadata>

		<h1>#{cadastroLancamentoBean.novoLancamento ? i18n['new_entry'] : i18n['edit_entry']}</h1>

		<h:form id="frm">

			<h:button value="#{i18n['new']}" outcome="/pages/CadastroLancamento.xhtml" />
			<h:button value="#{i18n['search']}" outcome="/pages/ConsultaLancamentos.xhtml" />

			<h:messages showDetail="true" showSummary="false" styleClass="form-messages"
					infoClass="info" errorClass="error"/>

			<h:panelGrid columns="2" styleClass="form-grid" columnClasses="label, campo" id="panel">

				<h:outputLabel value="#{i18n['label.type']}"/>
				<h:selectOneRadio value="#{cadastroLancamentoBean.lancamento.tipo}" required="true" label="#{i18n['label.entry_type']}">
					<f:selectItems value="#{cadastroLancamentoBean.tiposLancamentosPossiveis}" var="tipoLancamento"
							itemValue="#{tipoLancamento}" itemLabel="#{i18n[tipoLancamento.descricao]}"/>
				</h:selectOneRadio>

				<h:outputLabel value="#{i18n['Person']}"/>
				<h:selectOneMenu value="#{cadastroLancamentoBean.lancamento.pessoa}">
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems value="#{cadastroLancamentoBean.pessoas}" var="pessoa"
						itemLabel="#{pessoa.nome}" itemValue="#{pessoa}"/>
				</h:selectOneMenu>

				<h:outputLabel value="#{i18n['Detail']}"/>
				<h:inputText size="60" value="#{cadastroLancamentoBean.lancamento.descricao}"
						required="true" label="#{i18n['Detail']}"/>

				<h:outputLabel value="#{i18n['Value']}"/>
				<h:inputText size="12" value="#{cadastroLancamentoBean.lancamento.valor}"
						required="true" label="#{i18n['Value']}" >
					<f:convertNumber locale="pt_BR" minFractionDigits="2" />
					<f:validateDoubleRange minimum="0"/>
				</h:inputText>

				<h:outputLabel value="#{i18n['Due_date']}"/>
				<h:inputText size="12" value="#{cadastroLancamentoBean.lancamento.dataVencimento}"
						required="true" label="#{i18n['Due_date']}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputText>

				<h:outputLabel />
				<h:panelGroup>
					<h:selectBooleanCheckbox value="#{cadastroLancamentoBean.lancamento.pago}"
							immediate="true" valueChangeListener="#{cadastroLancamentoBean.lancamentoPagoModificado}"
							onchange="jsf.ajax.request(this, event, {execute: '@form', render: 'frm:panel'})"/>
					<h:outputLabel value="#{i18n['paid']}"/>
				</h:panelGroup>

				<h:outputLabel value="#{i18n['Payday']}" rendered="#{cadastroLancamentoBean.lancamento.pago}"/>
				<h:inputText size="12" value="#{cadastroLancamentoBean.lancamento.dataPagamento}"
						label="#{i18n['Payday']}" rendered="#{cadastroLancamentoBean.lancamento.pago}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
					<f:validator validatorId="nom.brunokarpo.RequeridoCondicional"/>
					<f:validator validatorId="nom.brunokarpo.DataFutura"/>
					<f:attribute name="checado" value="#{cadastroLancamentoBean.lancamento.pago}"/>
				</h:inputText>

				<h:outputLabel />
				<h:commandButton value="#{i18n['save']}" action="#{cadastroLancamentoBean.salvar}">
					<f:ajax execute="@form" render="@all"/>
				</h:commandButton>
			</h:panelGrid>

		</h:form>

	</ui:define>

</ui:composition>