<ui:composition template="/pages/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:bk="http://java.sun.com/jsf/composite/brunokarpo">

	<ui:define name="titulo">Lançamentos</ui:define>

	<ui:define name="conteudo">

		<h:outputStylesheet library="css" name="consultas-lancamentos.css"/>

		<h1>#{i18n['entrys']}</h1>

		<h:form id="frm">

			<h:button value="#{i18n['new_entry']}" outcome="/pages/CadastroLancamento.xhtml"/>

			<h:messages showDetail="true" showSummary="false" styleClass="form-messages"
					infoClass="info" errorClass="error"/>

			<h:dataTable value="#{consultaLancamentosBean.lancamentos}" var="lancamento"
					width="100%" headerClass="cabecalho" styleClass="grid" rowClasses="cor-sim, cor-nao"
					columnClasses="tipo, pessoa, descricao, valor, vencimento, pagamento, situacao, acoes">

				<h:column>
					<h:graphicImage value="/imagens/despesa.png" rendered="#{lancamento.tipo eq 'DESPESA'}"/>
					<h:graphicImage value="/imagens/receita.png" rendered="#{lancamento.tipo eq 'RECEITA'}"/>
				</h:column>

				<h:column>
					<f:facet name="header">
						#{i18n['Person']}
					</f:facet>

					<h:outputText value="#{lancamento.pessoa.nome}"/>
				</h:column>

				<h:column>
					<f:facet name="header">
						#{i18n['Detail']}
					</f:facet>

					<h:outputText value="#{lancamento.descricao}"/>
				</h:column>

				<h:column>
					<f:facet name="header">
						#{i18n['Value']}
					</f:facet>

					<bk:outputValorLancamento lancamentoBean="#{lancamento}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						#{i18n['Due_date']}
					</f:facet>

					<h:outputText value="#{lancamento.dataVencimento}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>
					</h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						#{i18n['Payday']}
					</f:facet>

					<h:outputText value="#{lancamento.dataPagamento}">
						<f:convertDateTime pattern="dd/MM/yyyy"/>
					</h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">
						#{i18n['Situation']}
					</f:facet>

					<h:outputText value="#{i18n['Paid']}" rendered="#{lancamento.pago}"/>
					<h:outputText value="#{i18n['Open']}" rendered="#{not lancamento.pago}"/>
				</h:column>

				<h:column>
					<h:link outcome="CadastroLancamento">
						<h:graphicImage value="/imagens/editar.png" />
						<f:param name="codigo" value="#{lancamento.codigo}" />
					</h:link>

					<h:commandLink action="#{consultaLancamentosBean.excluir}">
						<h:graphicImage value="/imagens/excluir.png" />
						<f:setPropertyActionListener value="#{lancamento}" target="#{consultaLancamentosBean.lancamentoSelecionado}" />
						<f:ajax render="@form"/>
					</h:commandLink>
				</h:column>

			</h:dataTable>

		</h:form>
	</ui:define>

</ui:composition>