<ui:composition template="/pages/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="conteudo">
		<h2 style="text-align: center; padding: 100px">#{i18n['welcome']}</h2>
	</ui:define>

</ui:composition>