.tabela {
	font-family: Arial;
	font-size: 12px;
}

.cabecalho {
	background-color: black;
	color: white;
}

.linha1 {
	background-color: #c9c9c9;
}

.linha2 {
	background-color: white;
}